<connectionStrings>
  <add name="EPiServerDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|musicfestival.mdf;Initial Catalog=musicfestival;Integrated Security=False;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>